<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="decor.css">
    <link rel="script" href="API.js"></link>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WOO main file</title>
</head>
<body>

    <div id="vueApp">
        <!-- NAV -->
        <nav class="navbar">
            <div class="logo">WOO</div>
            <div class="Search-Nav">
                <div class="nav-links">
                    <span>Home</span>
                    <span>Upcoming</span>
                    <span>Watchlist</span>
                    <span>Profile</span>
                </div>
                <input class="search-bar" placeholder="Search...   🔍"
                v-model="searchInput" @keyDown.enter="beginSearch"/>
            </div>
        </nav> 

    <!-- GAME HEADER -->
    <section class="game-header">
        <div class="game-media">
            <img class="game-cover" :src="gameCoverSrc" alt="" />

            <div v-show="gameFound" class="reviews">
                <div class="stars">★★★★★</div>
                <div class="review-count">(1,284 reviews)</div>
                <a href="#">Read reviews</a>
            </div>
        </div>

        <div class="game-info">
            <h1>{{gameTitle}}</h1>

            <div v-show="gameFound" class="tags">
                <span class="tag">Tag1</span>
                <span class="tag">Tag2</span>
                <span class="tag">tag3</span>
            </div>

            <p v-show="gameFound" class="description">
                {{gameDescription}}
            </p>
        </div>

        <div v-show="gameFound" class="price-card">
            <div class="price">{{ price }} €</div>
            <small>Cheapest offer</small>
        </div>
    </section>

    <!-- LOWER SECTION -->
    <section class="game-header">
        <div class="card similar-games">
            <h3>You might also like...</h3>
                <div v-for="data in similarGamesList" :key="data.gameID" class="similar-item">
                    <img :src="data.thumb" alt="Similar game cover" width="80" />
                    <p>{{ data.external }}</p>
                </div>
        </div>

        <div class="chart-container">
            <h3>Price history</h3>
            <div style="height: 200px; opacity: 0.4">
                (Chart placeholder)
            </div>
        </div>
    </section>
</div>

<!-- UPDATE. Can't make separate JS file work. Can't fx get feedback from the console.log .-->

<script>
src="https://unpkg.com/vue@3/dist/vue.global.js"
const newVueObj = Vue.createApp({
    data() {
        return {
            searchInput: '', //var for the api search keyword. only used on Enter. //christian
            gameCoverSrc: '', // holder for game cover img
            gameTitle: 'Lets find a game!\nType something into the Search bar...',
            genreTags: [], /*made as list, since I assume there will be several tags. //Christian */
            gameFound: false,
            gameDescription: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.',
            price: '',
            similarGamesList: [], // currently similar games only shows other games which turned up in the search? not necessarily similar.                
            similarGamesCovers: [], /*more covers for the similar games section*/
            chartData: [] /*don't think one variable will cover this, but here you go. //christian*/
        }
    },
    methods: {
        beginSearch() { //function called once the user presses Enter in the search field
            console.log("Search input for the api was: " + this.searchInput);
            let requestOptions = {
                method: "GET",
                redirect: "follow"
            };
            fetch("https://www.cheapshark.com/api/1.0/games?title=" + this.searchInput)
                .then(response => response.json())
                .then(data => {
                    if (data.length > 0) {
                    this.gameFound = true //tilføjet så v-show ikke bare viser descript, selvom der ikke er noget spil.
                    this.gameTitle = data[0].external;
                    this.gameCoverSrc = data[0].thumb;
                    this.price = data[0].cheapest
                    this.similarGamesList = data.slice(1,4)}
                    else {
                        this.gameFound = false;
                        this.gameTitle = 'No games found! Try something else.'
                        this.gameCoverSrc=''
                        this.similarGamesList=[]
                        this.similarGamesCovers=[]};
                })
                .catch(error => console.log("error", error)); //end of search function. last line is an error handler
            console.log("Similar games:"+ this.similarGamesList)
        }
},
});
newVueObj.mount('#vueApp');
</script>

</body>
</html>